<!DOCTYPE html>
<html lang="en">
  <head>
    {{>common/header}}
  </head>
  <body>
    {{>common/navbar}}


    <div class="container p-4">
        <div class="row">
            <div class="col-12 text-center">
                <img src="friendship.png" alt="friends" class="img-fluid w-25">
                <h3 class="text-center">Welcome to MeetAgain: Where Memories Unite and Futures Flourish!</h3>
                <p>Greetings, fellow alumni! 🎓<br>
At MeetAgain, we believe that the bonds forged during university days are timeless, and the journey doesn't end with the cap and gown. Our platform is more than a meeting ground; it's a vibrant hub designed exclusively for alumni like you to reconnect, reminisce, and revel in the collective brilliance that our alma mater bestowed upon us.</p>
<br>
<p>MeetAgain is not just a virtual space; it's a bridge that spans the years, connecting you with familiar faces and new opportunities. We're committed to creating a dynamic environment where alumni from diverse backgrounds and experiences come together for a myriad of engaging events.</p>

            </div>
        </div>
    </div>
 

    {{>common/footer}}

    {{>common/scripts}}
  </body>
</html>
