<!DOCTYPE html>
<html lang="en">
  <head>
    {{>common/header}}
  </head>
  <body>
    {{>common/navbar}}

    <!-- hero -->
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="hero text-center p-4">
                <h1 class="display-1">MeetAgain</h1>
                <p class="lead">
                Embark on a journey beyond graduation, where the echoes of campus laughter meet the hum of professional growth. MeetAgain is your exclusive portal to a vibrant community of alumni, where connections transcend time and possibilities unfold in a tapestry of networking, professional prowess, campus tales, and unforgettable social soirees. Join us as we bridge the past, present, and future—because at MeetAgain, your story continues to unfold. Let the reunion begin! 🚀
                </p>
                <a href="/events" class="btn btn-primary">View Events</a>
            </div>
            </div>
        </div>
    </div>

    <!-- end of hero -->

    <!-- info section -->
    <div class="container p-4">
        <div class="row my-4">
            <div class="col-lg-12">
                <h2 class="text-center">Why MeetAgain?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <img src="laugh.png" alt="friends" class="img-fluid w-25">
                <h3 class="text-center">Meet new friends</h3>
                <p class="text-center">Forge new friendships that echo the spirit of your alma mater at MeetAgain.</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <img src="dean.png" alt="professional" class="img-fluid w-25">
                <h3 class="text-center">Professional Events</h3>
                <p class="text-center">Catapult your career with exclusive professional events at MeetAgain, where opportunities meet ambition.</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <img src="opportunity.png" alt="opportunity" class="img-fluid w-25">
                <h3 class="text-center">Opportunities</h3>
                <p class="text-center">Unlock boundless opportunities at MeetAgain, where connections pave the way for new possibilities and growth.</p>
            </div>
        </div>
    </div>
    <!-- end of info section -->

    {{>common/footer}}

    {{>common/scripts}}
  </body>
</html>
